<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="header">
    <h1>Anna Bey</h1>
    </div>
    <div
        class="topnav">
        <a href="/about">About</a>
        <a href="works">Works</a>
        <a href="gallery">Gallery</a>
    </div>
    <p>teach women how to transform themselves, so that they can feel confident in
        going for their goals and living the life they choose...their very best life!</p>
</html>
