<nav>
    <ul>
        <li><a href="/views/home.html">Home</a></li>
        <li><a href="/views/about.html">About</a></li>
        <li><a href="/views/works.html">Works</a></li>
        <li><a href="/views/gallery.html">Gallery</a></li>
    </ul>
</nav>